body {
	font-family: 'Roboto', sans-serif;
	background-color: #EBF2F4;
	color: #51738B;
}

#lang-info {
	display: none;
	position: absolute;
	background: rgba(255, 255, 255, .9);
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    border-radius: 3px;
    top: 2em;
    left: 2em;
}

#lang-info h4 {
	font-weight: 300;
    font-size: 1.5em;
    padding: 0;
    margin: .3em 0 .5em 0;
	color: #314B5D;
	-webkit-font-smoothing: antialiased;
}

table td {
	min-width: 5em;
	-webkit-font-smoothing: antialiased;
}

table tr td:last-child {
	font-weight: 300;
}

svg {
	width: 100%;
	height: 100%;
}

text {
	-webkit-font-smoothing: antialiased;
}
